.inline{
    display: inline-block
}
.completed{
    color: red
}
.color{
    background-color: #f0f0f0
}
body{
    background-color: black
}
.margin{
    margin-left: 500px;
    margin-bottom: 30px;
    margin-top: 30px
}
.space{
    margin-bottom: 30px
}